@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

@import url('../fonts/Helvetica-Black/HelveticaBlack.css');
@import url('../fonts/helvatica/helvetic.css');

@import url('../fonts/Helvetica-Condensed-medium/HelveticaCondensed.css');
@import url('../fonts/helvetica-bold/helvetica-bold.css');

/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'HelveticaBold';
font-family: 'helveticacondensed_light';

*/


body {
	height:100%;
    font-family: 'Roboto', sans-serif;
}
@media (min-width:1366px) {
    .container {
        width:1230px;
    }
}
.scrollup {
    width:40px;
    height:40px;            
    text-indent:-9999px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:30px;
    z-index:9999;
    cursor:pointer;
    display:none;           
    background: url('../images/icon_top.png') no-repeat;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:0 none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.slidemeubtn {
    display: none;
    border: none;
    background: rgba(255, 255, 255, 0.07);
    padding: 3px 11px;
    font-size: 20px;
    border: 2px solid #ff8c3a;
    color: #ff8c3a;
    margin: 0;
    border-radius: 0;
    position: absolute;
    right: 9px;
    top: 5px;
}

.inline_block {
	display:inline-block;
}
.round {
	border-radius:100%;
	-o-border-radius:100%;
	-webkit-border-radius:100%;
	-ms-border-radius:100%;
	-moz-border-radius:100%;
}
header {
/*    background-color: #ff8c3a;*/
    position: relative;
    z-index: 9;
}
.logo {
    display: table;
    vertical-align: middle;
    text-align: center;
    height:79px;
    width: 221px;
    padding: 6px 0;
    max-width: 100%;
}
.vcenter {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}
.logo a {
	display:block;
}
.mainmenu .navbar-nav {
    margin-left: 45px;
}

.navbar-nav.navbar-right>li {
    padding: 32px 0;
}
.navbar-nav.navbar-right>li>a {
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-left: 1px solid #696969;
}
.navbar-nav.navbar-right>li:first-child>a {
    border-left:0 none;
}
.mainmenu .navbar-nav>li>a {
    padding:33px 18px;
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
}

/*.mainmenu */.navbar-nav>li>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2c2c2c;
/*    transition: width .3s;*/
    margin: 0;
    position: relative;
    top: 4px;
}

/*.mainmenu */.navbar-nav>li.active>a::after,
/*.mainmenu */.navbar-nav>li>a:hover::after {
    width: 100%;
/*    transition: width .3s;*/
}

span.ico {
    display: inline-block;
    margin: 0 4px 0 0;
    position: relative;
    top: 3px;
    float: left;
}
header .navbar-nav>li>a:focus,
header .navbar-nav>li>a:hover {
	color:#2c2c2c;
	background-color:transparent !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color:transparent !important;
}
.paddt20 {
	padding-top:20px;
}
.paddtb20 {
    padding-top:20px;
    padding-bottom:20px;
}
.paddtb30 {
	padding-top:30px;
	padding-bottom:30px;
}
.paddb20 {
	padding-bottom:20px;
}
.paddtb40 {
	padding-bottom:40px;
	padding-top:40px;
}
.findtitle {
    color:#2c2c2c;
    font-size:51px;
    line-height:normal;
    font-family: 'helvetic';
    font-weight: normal;
}

.findtitle strong {    
    font-family: 'HelveticaBlack';
    color:#ff8c3a;
}
.txt28 {
    font-size:28px;
    line-height:normal;
    font-family: 'helvetic';
    font-weight: normal;
    color:#2c2c2c;
}



.txt51 {
    font-size:51px;
    line-height:normal;
    font-family: 'HelveticaCondensed';
    font-weight: normal;
    color:#2c2c2c;
}
.txt51 strong {
    color:#ff8c3a;
    font-family: 'HelveticaBlack';
    font-size:48px;
    line-height:normal;
}
.txt51 a {
    text-decoration:none;
}
.textcol {
    padding-top:100px;
}
.infolist {
    margin:0;
    padding: 97px 20px 36px;
    border-bottom: 1px solid #dfdfdf;
}
.iconl {
    width:16px;
    height:16px;
    border-radius:100%;
    border:2px solid #7f7f7f;
    background-color:transparent;
    position:relative;
    display:inline-block;
}
.iconl::after {
    width:6px;
    height:6px;
    border-radius:100%;
    background-color:#7f7f7f;
    position:absolute;
    left:3px;
    top:3px;
    content:"";
    display:none;

}
.infolist li a,
.infolist li p {
    color:inherit;
    font-size:inherit;
    line-height:inherit;
    font-weight:inherit;
    margin:0;
    font-family: inherit;
    text-decoration:none;
}
.infolist li {
    position:relative;
    padding-left:25px;
    color:#3f3f3f;
    font-size:15px;
    line-height:normal;
    font-weight:500;
    font-family: 'Raleway', sans-serif;
    margin:4px 0;
}
.infolist li .iconl {
    position:absolute;
    left:0;
    top:0;
}
.infolist li a:focus,
.infolist li a:hover {
    color:#ff8c3a;
}
.infolist li a:focus .iconl,
.infolist li a:hover .iconl {
    border-color:#ff8c3a;
} 
.infolist li a:focus .iconl:after,
.infolist li:hover .iconl::after {
    background-color:#ff8c3a;
} 

.proheading {
    color: #2c2c2c;
    font-size: 42px;
    line-height: normal;
    text-transform: uppercase;
    margin:36px 0 13px;
    font-family: 'HelveticaBold';
    font-weight: normal;
    padding: 0;
}
.seeallcat a,
.proheading a {
    color:inherit;
    font-size:inherit;
    text-decoration:none;
}
.seeallcat:hover a,
.proheading:hover a {
    text-decoration:none;
}
.prodesk {
    box-shadow:0 4px 6px 0 rgba(53, 74, 116, 0.2);
    margin:12px 0; 
}
.protitel {
    color:#4b4b4b;
    font-size:14px;
    line-height:normal;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}
.protitel,
.proprice {
    margin-top: 14px;
}

.protitel a {
    color:inherit;
    font-size:inherit;
    line-height:inherit;
    font-weight:inherit;
    font-family:inherit;
    text-decoration:none;
} 

.protitel:hover a {
    color:#000000;
    text-decoration:none;
}
.proprice {
    color:#ff8c3a;
    font-size:17px;
    line-height:normal;
    font-family: 'HelveticaBold';
    font-weight: normal;
}
.padlr10 {
    padding-left:10px;
    padding-right:10px;
}
.smalltxt {
    font-size:12px;
    line-height:normal;
    color:#838383;
    font-weight:normal;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    margin: 0 0 1px;
}
.threetxt {
    font-size:0px;
    line-height:normal;
    color:#838383;
    font-weight:normal;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    border-top:1px solid #d8dbdb;
    border-bottom:1px solid #d8dbdb;
    padding:8px 0;
    margin: 0 0 9px;
}
.threetxt span {
    font-size:12px;
    min-width: 33.333333%;
    display: inline-block;
    text-align: center;
}
.probtn {
    color: #ff8c3a;
    background-color: #e4e4e4;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 12px;
    line-height: normal;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin:8px 0;
    text-decoration:none;
}
.probtn:hover {
    text-decoration:none;
    color:#ffffff;
    background-color:#ff8c3a;
}
.categoryname {
    color:#838383;
    font-size:13px;
    line-height:normal;
    display:block;
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    border-top:1px solid #d8dbdb;
    padding:13px 0;
    text-decoration:none;
    margin-top:11px;
}
.categoryname:hover {
    text-decoration:none;
    color:#000000;
}
.categoryname img {
    margin-right: 9px;
    position: relative;
    top: -3px;
}

.requestlist [class*=col], 
.deaslslist [class*=col] {
    padding-left:12px;
    padding-right:12px;
}
.requestlist.row,
.deaslslist.row {
    margin-left: -12px;
    margin-right: -12px;
}
.rqbox {
    box-shadow:0 4px 6px 0 rgba(53, 74, 116, 0.2);
    margin:12px 0; 
}
.requestlist .onegrid {
	display:block;
    /* width:20%;
    float:left; */
    /* padding-left:12px;
    padding-right:12px; */
}
.rqbox p {
    color:#4b4b4b;
    font-size:15px;
    line-height:normal;
    display:block;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    padding:18px;
}

.rqbox figure {
    position:relative;
    height:133px;
    overflow:hidden;
    background-color:rgba(255, 118, 51, 1)
}
/*.rqbox figure:after {
    display:block;
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(255, 118, 51, 0.7);
}
.requestlist .onegrid:nth-child(1) .rqbox figure:after {
    background-color: rgba(190, 91, 120, 0.7);
}
.requestlist .onegrid:nth-child(2) .rqbox figure:after {
    background-color: rgba(109, 103, 229, 0.7);
}
.requestlist .onegrid:nth-child(3) .rqbox figure:after {
    background-color: rgba(232, 203, 91, 0.7);
}
.requestlist .onegrid:nth-child(4) .rqbox figure:after {
    background-color: rgba(104, 179, 94, 0.7);
}*/
.requestlist .onegrid.red .rqbox figure {
    background-color: rgba(190, 91, 120, 1);
}
.requestlist .onegrid.purple .rqbox figure {
    background-color: rgba(109, 103, 229, 1);
}
.requestlist .onegrid.yellow .rqbox figure {
    background-color: rgba(232, 203, 91, 1);
}
.requestlist .onegrid.orange .rqbox figure:{
    background-color: rgba(104, 179, 94, 1);
}
.rqbox figure img {
    opacity:0.3;
}
.rqbox a:hover figure img {
    opacity:1;
}
.rqbox a {
    text-decoration:none;
}
.rqbox a:hover p {
    color:#000000;
}
.overbx {
    display:table;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    vertical-align:middle;
    text-align:center;
}
.icobg {
    display:table-cell;
    height:100%;
    width:100%;
    vertical-align:middle;
    text-align:center;
}
.icobg>span {
    background-color: rgba(255,255,255,0.2);
    width: 71px;
    height: 71px;
    display: table;
    margin: auto;
    position: relative;
    z-index: 9999;
}
.icobg>span span {
    display:table-cell;
    vertical-align:middle;
}
.tabgs span {
    border-radius: 30px;
    padding: 4px 12px;
    color: #ffffff;
    display:inline-block;
    background-color: #ff8c3a;
    font-size: 14px;
    line-height: normal;
    margin: 0 0 2px;
}
.langf select {
    border-color:#c2c2c2;
    height:47px;
    font-size:15px;
    line-height:normal;
    color:#4b4b4b;
    background:#ffffff url("../images/select_bg.png") no-repeat right center;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   border-radius:2px;
   box-shadow:none;
}
.ffivelist {
    margin: 30px 0 0;
    padding-top: 30px;
    border-top: 1px solid #dfdfdf;
}

.ourapptxt a,
.fsocial a {
    display:inline-block;
    margin:0 5px 0 0;
}
.ourapptxt p {
    color:#4b4b4b;
    font-size:18px;
    line-height:normal;
    font-weight:600;
    font-family: 'Raleway', sans-serif;
    margin:13px 0;
}
.ftitle {
    font-size:18px;
    line-height:normal;
    color:#4b4b4b;
    font-family: 'HelveticaBold';
}
.fmenu li a {
    color:#4b4b4b;
    font-size:15px;
    line-height:normal;
    margin:0;
    padding:4px 0;
    display:block;
    font-family: 'Raleway', sans-serif;
}
.ffivelist .fgrid_one {
    float: left;
    width: 26%;
    padding-right: 40px;
}
.fgrid_two {
    width: 20%;
}
.fgrid_three {
    width: 22%;
}
.fgrid_five {
    width:10%;
}
.copyright {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    margin: -20px 0 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    display: block;
}
.onvxs {
    display:block;
}
.oflg {
    display:none;
}
.seeallcat {
    font-size: 16px;
    line-height: normal;
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 60px 0 0 0;
}
.seeallcat:hover a {
    color:#000000;
}
.chooselocation_mobile label {
    font-family: 'helvetic';
    font-size: 21px;
    line-height: normal;
    font-weight: normal;
    color: #2c2c2c;
    margin: 10px 0 6px;
}
.chooselocation_mobile select {
    border-color: #c2c2c2;
    height: 47px;
    font-size: 15px;
    line-height: normal;
    color: #4b4b4b;
    background: #ffffff url(../images/select_bg.png) no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    box-shadow: none;
    padding-right:24px;
}

.homeListSlider{display:block; position:relative;}
.homeListSlider .owl-carousel{display:block; padding:0 32px; position:relative;}

.homeListSlider .item{display:block; padding:0 4px;}
.homeListSlider .owl-nav .owl-prev,
.homeListSlider .owl-nav .owl-next{display:block;position:absolute;top:50%;left:0;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);background: url(../images/left-arrow.svg) no-repeat center center;background-size: 26px auto;width: 28px;height: 92px;background-color: #e4e4e4;border-radius: 6px 0 0 6px; cursor:pointer;}
.homeListSlider .owl-nav .owl-next{left:auto; right:0; border-radius:0 6px 6px 0; background: url(../images/right-arrow.svg) no-repeat center center; background-size: 26px auto; background-color: #e4e4e4;}

.creatAccountPg{background-color:#ff8c3b; padding:98px 16px;}
.creatAccountCont{display:block; width:362px; max-width:100%; text-align:center; margin:0 auto; font-family: 'Raleway', sans-serif;}
.accountLogo{display:inline-block; vertical-align:top; width:270px; height:auto;}
.accountLogo img{display:block; width:100%; height:auto;}
.creatAccountCont h2{display:block; color:#fff; font-size:29px; line-height:32px; font-weight:600; margin:36px 0 26px 0;}
.formGroup{display:block; margin:0 0 18px 0; text-align:left;}
.formGroup .field{display:block; background-color:#fff; border:1px solid #e8e8e8; border-radius:4px; padding:4px 10px; margin:0; width:100%; height:38px; color:#5e5e5e; outline:none; text-align:left;}
.chkBox{display:inline-block;vertical-align:top;color:#000;font-size:13px;line-height:22px;font-weight:500;text-align:left;position:relative;padding: 0 0 0 22px; text-align:left;}
.chkBox a{color:#ff6600; text-decoration:underline;}
.creatAccountCont .chkBox,
.creatAccountCont .chkBox a{color:#fff;}
.chkBox a:hover{text-decoration:none;}
.chkBox input{display:block; position:absolute; top:0; left:0; width:1px; height:1px; opacity:0;}
.chkBox .fa{display:block;position:absolute;top:3px;left:0;font-size: 16px;}
.chkBox input:checked + .fa:before{content:"\f14a";}
.checkboxList{display:block; margin:4px 0 0 0;}
.checkboxList:first-child{margin:0;}
.rdoLi{display:inline-block;vertical-align:top;margin: 0 16px 0 0;color:#000;font-size:15px;line-height:18px;font-weight: 600;padding: 0 0 0 26px;position:relative; cursor:pointer;}
.rdoLi input{display:block; position:absolute; top:0; left:0; width:1px; height:1px; opacity:0;}
.rdoLi .ico{display:block;position:absolute;top: -1px;left:0;width:20px;height:20px;border:3px solid #ff6600;border-radius:100px;margin: 0;}
.rdoLi .ico:before{content:""; display:none; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); width:8px; height:8px; background-color:#ff6600; border-radius:100px;}
.rdoLi input:checked + .ico:before{display:block;}
.align-center{text-align:center !important;}
.align-left{text-align:left !important;}
.align-right{text-align:right !important;}
.btn.lg{min-width:184px;}
.formTxt{display:block; color:#fff; font-size:13px; line-height:18px; font-weight:500;}
.formTxt.light{font-weight:300;}

.btn{border-radius:4px !important;}
.btn-warning{background-color:#ff6600; border:none;}
.btn-warning:hover,
.btn-warning:focus{background-color:#de5c05; box-shadow:none;}

.btn-wh-border{background:transparent; border:2px solid #fff; color:#fff;}
.btn-wh-border:hover{background-color:#fff; color:#ff6600;}
.btn-md{font-size:15px; line-height:24px;}


.modal-backdrop{background:transparent; background-color:rgba(209,209,209,0.77);}
.modal-backdrop.in{ opacity:1 !important;}
#loginModal .modal-dialog{width:596px; max-width:100%;}
#loginModal .modal-content{box-shadow:none; background-color:#ff8c3b; border-radius:0px; padding:32px 16px 16px 16px; border:none;}

.innerPage{background-color:#fafafa;}
.innerPage header{background-color:#ff6600;}
.innerPage .logo{width:274px;}
.innerPage .mainmenu .navbar-nav>li>a,
.innerPage .navbar-nav.navbar-right>li>a,
.innerPage .navbar-nav.navbar-right>li>a:hover{color:#fff;}
.innerPage .navbar-nav.navbar-right>li>a{border-left-color:#fff;}
.innerPage .navbar-nav>li>a:after{background-color:#fff;}
.innerPage .navbar-nav.navbar-right>li>a img{-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1); -moz-filter: brightness(0) invert(1); -ms-filter: brightness(0) invert(1); -o-filter: brightness(0) invert(1);}
.innerPage .slidemeubtn{border-color:#fff; color:#fff;}

.creatYourAcCont{display:block; padding:48px 0; font-family: 'Raleway', sans-serif;}
.creatAcForm{display:block;width:596px;max-width:100%;padding:58px 54px 10px 54px;background-color:#fff;margin: 0 auto;border-radius: 4px;box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);}
.creatAcForm h2{display:block; text-align:center; color:#1a1a1a; font-size:20px; line-height:24px; font-weight:600; text-align:center; margin:0; padding:0 0 12px 0; border-bottom:2px solid #ff6b08;}
.creatAcForm h3{display:block; color:#ff6600; font-size:18px; line-height:22px; font-weight:600; text-align:center; margin:16px 0;}
.form-group{display:block; margin-bottom:20px;}
/* .form-group:first-child{margin:0;} */
.form-group .fldTl{display:block; color:#000; font-size:15px; line-height:18px; font-weight:500; margin:0 0 6px 0;}
.form-group .fldTl.inline{display:inline-block; vertical-align:top; margin:0 6px 0 0;}
.form-group .fldTl em{color:#ff6600;font-size: 18px;line-height: 16px; position:relative; top:2px;} 
.form-group .form-control{display:block; width:100%; border:1px solid #e8e8e8; border-radius:2px; background-color:#fff; box-shadow:none; height:38px; padding:4px 10px; color:#000;}
.form-group select.form-control{background:url(../images/select-arrow.png) no-repeat right 7px center; background-color: #fff; padding-right:24px; box-shadow:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.full{width:100% !important;}
.form-group .form-control.error,
.form-group select.form-control.error{border-color:#ff6600; -webkit-box-shadow:0 0 1px 1px rgba(255, 102, 0, 0.2); box-shadow:0 0 1px 1px rgba(255, 102, 0, 0.2);}












